.header-spacing {
  margin-top: 200;
  height: 200px;
}

.flex-center{
  display: flex;
  justify-content: center;
}

.top-padding-navbar{
  padding-top: 100px;
}

.recipe-card {
  border-radius: 50px;
}


.center-align-question-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: #ECEFF1;

}

@media screen and (max-width: 1200px) {
  .center-align-question-cards {
      grid-template-columns: 1fr 1fr;
      background-color: #ECEFF1;
  }
}

@media screen and (max-width: 800px) {
  .center-align-question-cards {
      grid-template-columns: 1fr;
      background-color: #ECEFF1;

  }
}